@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500;
  }
  
  .gradient-bg {
    @apply bg-gradient-to-r from-blue-600 to-purple-600 hover:from-blue-700 hover:to-purple-700;
  }
}

.font-display {
  font-family: 'Open Sans', sans-serif;
}

.font-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-playwrite {
  font-family: 'Playwrite GB S', sans-serif;
  font-weight: 400;
}

